In [36]:
import pandas as pd

# We have 8 CSV files named 'round1.csv', 'round2.csv', ..., 'round8.csv'
# Therefore, we store the filenames in a list
file_names = ['RoundOne.csv', 'RoundTwo.csv', 'RoundThree.csv', 'RoundFour.csv', 'RoundFive.csv', 'RoundSix.csv', 'RoundSeven.csv', 'RoundEight.csv']

# Read the CSV files into DataFrames
data_frames = [pd.read_csv(file) for file in file_names]

# Merge the DataFrames
merged_df = pd.concat(data_frames)

# Reset the index if desired
merged_df = merged_df.reset_index(drop=True)

In [37]:
merged_df

,location,Nationality,job_Category,EmploymentType,gender,Experience_years,min Education,Name,KeySkills
0,Kabul,National,Business,Full Time,Male,8 years,BA,Position Title: Admin Finance Manager,NaN
1,Kabul,International,Business,Part Time,Any,8-12 years,MA,Position Title: Grant Coordinator/Proposal Wri...,NaN
2,Kabul,Any,Business,Part Time,Female,8-12 years,MA,Position Title: Grant Coordinator/Proposal Wri...,NaN
3,Herat,National,Program/Project,Full Time,Any,3 years,BA,Position Title: Reporting and Data Management ...,NaN
4,Herat,National,Program/Project,Full Time,Any,5 years,BA,Position Title: District Supervisors / Team Le...,NaN
...,...,...,...,...,...,...,...,...,...
2476,Parwan,National,Health Care,Full Time,Any,2 years,BA,Position Title: Medical Doctor (MD),NaN
2477,Parwan,National,Health Care,Full Time,Any,1 year,BA,Position Title: MHPSS Counselor,NaN
2478,Kandahar,National,Business,Full Time,Any,5 years,BA,Position Title: Human Resources Specialist NOC...,NaN
2479,Parwan,National,Health Care,Full Time,Any,1 year,HS,Position Title: Vaccinator,NaN
2480,Kabul,National,Business,Full Time,Any,5 years,BA,Position Title: Grant Specialist- Finance,NaN

In [38]:
merged_df = merged_df.drop('KeySkills', axis=1)
#merged_df = merged_df.drop('Experience_Years', axis=1)

In [39]:
merged_df.columns

Index(['location', 'Nationality', 'job_Category', 'EmploymentType', 'gender',
       'Experience_years', 'min Education', 'Name'],
      dtype='object')

In [40]:
#In order to make the column names consistent, we try to rename them
new_column_names = {'location': 'Location', 'Nationality': 'Nationality', 'job_Category': 'Job_Category', 
                   'EmploymentType': 'Employment_Type', 'gender': 'Gender', 'Experience_years': 'Years_Of_Experience',
                   'min Education': 'Minimum_Education', 'Name': 'Job_Title'}
merged_df = merged_df.rename(columns=new_column_names)

In [41]:
merged_df.columns

Index(['Location', 'Nationality', 'Job_Category', 'Employment_Type', 'Gender',
       'Years_Of_Experience', 'Minimum_Education', 'Job_Title'],
      dtype='object')

In [42]:
merged_df.isnull().any()

Location               False
Nationality            False
Job_Category           False
Employment_Type        False
Gender                 False
Years_Of_Experience     True
Minimum_Education      False
Job_Title              False
dtype: bool

In [43]:
missing_count = merged_df['Years_Of_Experience'].isnull().sum()
missing_count

1

In [44]:
missing_values = merged_df[merged_df['Years_Of_Experience'].isnull()]
missing_values

,Location,Nationality,Job_Category,Employment_Type,Gender,Years_Of_Experience,Minimum_Education,Job_Title
298,Ghowr,National,Program/Project,Full Time,Any,NaN,BA,Position Title: Access facilitator

In [45]:
merged_df.to_csv('data.csv')